.description{
    width: 150px;
    height: 200px;
}
.view{
    background-color:sandybrown;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
table{
    border:8px black;
}
th{
    border:8px black; 
}
.up{
    color:black; 
   
}