.description{
    width: 150px;
    height: 200px;
    background-color: sandybrown
}
.view{
    background-image: url("tropical.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
table{
    background-color:blue;
}
.up{
    color:black; 
   
}